body {
    /* background-color: black; */
    background-image: linear-gradient(to bottom, black 20%, #cc0808);
    color: white;
}

.autoServices {
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    background-color: black;
    color: white;
}

.cardContainer {
    justify-items: center;
}

/* .descriptionSection {
    background-color: #5c0404;
}

.locationSection {
    background-color: #5c0404
} */